@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Source+Serif+4:wght@400;500;600&display=swap");

:root {
  --font-sans: "Inter", sans-serif;
  --font-serif: "Source Serif 4", Georgia, serif;
}

body {
  font-family: var(--font-sans);
}
